.contact{
    display:flex;
    gap: 24px;
}
.liContact{
    font-size: 24px;
}

.delContact{
    padding: 4px 8px;
    font-size: 16px;
}

.delContact:hover{
    background-color: rgb(67, 24, 184);
    color: white;
}